@model IEnumerable<TuyetWebshop.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<h2>Products</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Products" asp-action="Index">
    <p>
        Search on title: <input type="text" name="SearchString">
        <input type="submit" value="Search" /> |
        <a asp-action="Index">Back to Full List</a>
    </p>

</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" title="Sorteer op naam">@Html.DisplayNameFor(model => model.Name)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParm"]" title="Sorteer op prijs">@Html.DisplayNameFor(model => model.Price)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["GenreSortParm"]" title="Sorteer op categorie">@Html.DisplayNameFor(model => model.Category)</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @foreach (var image in item.GetImages())
            {
                <img src="@Html.DisplayFor(modelItem => image)" style="max-width:150px;" />
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
        </td>
    </tr>
 }
    </tbody>
</table>
